section {
    width: 450px;
}


/* 
input {
    display: none;
}

.slider-controls label {
    box-shadow: 0 0 3px 0 rgb(61, 61, 61);
    border: 2px solid white;

    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
}

.slider-controls {
    text-align: center;
    height: 20px;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 200px;
}

input[id="btn-1"]:checked~.slider-controls label[for="btn-1"],
input[id="btn-2"]:checked~.slider-controls label[for="btn-2"],
input[id="btn-3"]:checked~.slider-controls label[for="btn-3"] {
    background: white;
}

input[id="btn-1"]:checked~.slider-arrows label[for="btn-2"],
input[id="btn-2"]:checked~.slider-arrows label[for="btn-3"],
input[id="btn-3"]:checked~.slider-arrows label[for="btn-1"] {}

input[id="btn-1"]:checked~.slider-arrows label[for="btn-2"],
input[id="btn-2"]:checked~.slider-arrows label[for="btn-3"],
input[id="btn-3"]:checked~.slider-arrows label[for="btn-1"] {
    background: white;
}

.slider-arrows1 {
    position: absolute;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(32, 32, 32, 0.2));
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    z-index: 6;
    cursor: pointer;
}

.slider-arrows1 label {}

.slider-arrows2 label {}

.slider-arrows2 {
    position: absolute;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(32, 32, 32, 0.2));
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;
    z-index: 6;
    cursor: pointer;
}

.slider-arrows label {
    display: none;
}

input[id="btn-1"]:checked~.slider-inner .slider-slides {
    
    transform: translateX(0);
}

input[id="btn-2"]:checked~.slider-inner .slider-slides {
    
    transform: translateX(-450px);
}

input[id="btn-3"]:checked~.slider-inner .slider-slides {
    
    transform: translateX(-900px);
}

.slider {
    position: relative;
}

.slider::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 10px solid white;
    border-left: none;
    border-bottom: none;
    z-index: 2;
    transform: rotate(-135deg);
    left: 20px;
    top: 145px;
    cursor: pointer;
}

.slider::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 10px solid white;
    border-left: none;
    border-bottom: none;
    z-index: 2;
    transform: rotate(45deg);
    right: 20px;
    top: 145px;
    cursor: pointer;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 300%;
    transition: transform 0.8s ease;
}

.slider-slides img {
    float: left;
} */